body {
  margin:0px;
  background-color:rgba(220, 237, 198, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  display:flex;
}
#u5483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  display:flex;
}
#u5484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
}
#u5485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:21px;
  height:21px;
  display:flex;
}
#u5486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  display:flex;
}
#u5488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-3px 0px 20px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:-3px 0px 20px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:-3px 0px 20px rgba(255, 255, 255, 0.349019607843137);
  color:#7F7F7F;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:50px;
  width:960px;
  height:2105px;
  display:flex;
  color:#7F7F7F;
}
#u5489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:960px;
  height:50px;
  display:flex;
}
#u5490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:13px;
  width:166px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:60px;
  width:897px;
  height:206px;
  display:flex;
}
#u5493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:60px;
  width:897px;
  height:206px;
}
#u5494_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:206px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5494_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:206px;
}
#u5495_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5495_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5496 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:98px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5496 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5496_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5497 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:107px;
  width:8px;
  height:8px;
  display:flex;
}
#u5497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5498 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:65px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5498 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5499 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:74px;
  width:8px;
  height:8px;
  display:flex;
}
#u5499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5500 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:131px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5500 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5501 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:140px;
  width:8px;
  height:8px;
  display:flex;
}
#u5501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5502 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:98px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5502 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5503 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:107px;
  width:8px;
  height:8px;
  display:flex;
}
#u5503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5504 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:26px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5504 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5504_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5505 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:35px;
  width:8px;
  height:8px;
  display:flex;
}
#u5505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5506 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:118px;
  width:107px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5506 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5507 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:127px;
  width:8px;
  height:8px;
  display:flex;
}
#u5507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5508 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:164px;
  width:65px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5508 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5509 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:173px;
  width:8px;
  height:8px;
  display:flex;
}
#u5509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5510 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:111px;
  width:0px;
  height:0px;
}
#u5510_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:7px;
  width:64px;
  height:6px;
  -webkit-transform:rotate(-161.274212154727deg);
  -moz-transform:rotate(-161.274212154727deg);
  -ms-transform:rotate(-161.274212154727deg);
  transform:rotate(-161.274212154727deg);
}
#u5510_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5511 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:111px;
  width:0px;
  height:0px;
}
#u5511_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-39px;
  width:96px;
  height:6px;
  -webkit-transform:rotate(129.332714321761deg);
  -moz-transform:rotate(129.332714321761deg);
  -ms-transform:rotate(129.332714321761deg);
  transform:rotate(129.332714321761deg);
}
#u5511_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5512 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:144px;
  width:0px;
  height:0px;
}
#u5512_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-20px;
  width:70px;
  height:8px;
  -webkit-transform:rotate(151.189206257027deg);
  -moz-transform:rotate(151.189206257027deg);
  -ms-transform:rotate(151.189206257027deg);
  transform:rotate(151.189206257027deg);
}
#u5512_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5513 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:78px;
  width:0px;
  height:0px;
}
#u5513_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:12px;
  width:70px;
  height:8px;
  -webkit-transform:rotate(-151.189206257027deg);
  -moz-transform:rotate(-151.189206257027deg);
  -ms-transform:rotate(-151.189206257027deg);
  transform:rotate(-151.189206257027deg);
}
#u5513_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5514 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:111px;
  width:0px;
  height:0px;
}
#u5514_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:72px;
  height:8px;
  -webkit-transform:rotate(-151.189206257027deg);
  -moz-transform:rotate(-151.189206257027deg);
  -ms-transform:rotate(-151.189206257027deg);
  transform:rotate(-151.189206257027deg);
}
#u5514_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5515 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:111px;
  width:0px;
  height:0px;
}
#u5515_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-21px;
  width:72px;
  height:8px;
  -webkit-transform:rotate(151.189206257027deg);
  -moz-transform:rotate(151.189206257027deg);
  -ms-transform:rotate(151.189206257027deg);
  transform:rotate(151.189206257027deg);
}
#u5515_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5516 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:98px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5516 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5517 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:107px;
  width:8px;
  height:8px;
  display:flex;
}
#u5517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5518 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:111px;
  width:0px;
  height:0px;
}
#u5518_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:29px;
  width:90px;
  height:8px;
  -webkit-transform:rotate(-131.794784068987deg);
  -moz-transform:rotate(-131.794784068987deg);
  -ms-transform:rotate(-131.794784068987deg);
  transform:rotate(-131.794784068987deg);
}
#u5518_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:25px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5519 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:131px;
  width:0px;
  height:0px;
}
#u5519_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:64px;
  height:6px;
  -webkit-transform:rotate(161.565051177078deg);
  -moz-transform:rotate(161.565051177078deg);
  -ms-transform:rotate(161.565051177078deg);
  transform:rotate(161.565051177078deg);
}
#u5519_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5520 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:39px;
  width:0px;
  height:0px;
}
#u5520_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:33px;
  width:106px;
  height:6px;
  -webkit-transform:rotate(-135.784824602992deg);
  -moz-transform:rotate(-135.784824602992deg);
  -ms-transform:rotate(-135.784824602992deg);
  transform:rotate(-135.784824602992deg);
}
#u5520_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5521 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:177px;
  width:0px;
  height:0px;
}
#u5521_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-37px;
  width:122px;
  height:8px;
  -webkit-transform:rotate(147.094757077012deg);
  -moz-transform:rotate(147.094757077012deg);
  -ms-transform:rotate(147.094757077012deg);
  transform:rotate(147.094757077012deg);
}
#u5521_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-41px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5522 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:111px;
  width:0px;
  height:0px;
}
#u5522_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:62px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5522_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5523 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:98px;
  width:93px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5523 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5523_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5524 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:107px;
  width:8px;
  height:8px;
  display:flex;
}
#u5524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:72px;
  width:107px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5525 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:111px;
  width:0px;
  height:0px;
}
#u5526_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-17px;
  width:66px;
  height:8px;
  -webkit-transform:rotate(156.217969576779deg);
  -moz-transform:rotate(156.217969576779deg);
  -ms-transform:rotate(156.217969576779deg);
  transform:rotate(156.217969576779deg);
}
#u5526_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(254, 199, 9, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 169, 0, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:81px;
  width:8px;
  height:8px;
  display:flex;
}
#u5527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:85px;
  width:0px;
  height:0px;
}
#u5528_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:9px;
  width:68px;
  height:8px;
  -webkit-transform:rotate(-156.571307191255deg);
  -moz-transform:rotate(-156.571307191255deg);
  -ms-transform:rotate(-156.571307191255deg);
  transform:rotate(-156.571307191255deg);
}
#u5528_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:5px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:75px;
  width:113px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
}
#u5529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:2028px;
  width:89px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u5530 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:2028px;
  width:89px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u5531 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:1660px;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:305px;
  width:897px;
  height:1660px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
